--training_files=PATH_TO_BE_CONFIGURED/ss_train_empty_bal.csv
--validation_files=PATH_TO_BE_CONFIGURED/ss_val_dev_empty.csv
--dataset_base_dir=PATH_TO_BE_CONFIGURED/
--num_classes=2
--model_name=efficientnet-b3
--input_size=300
--batch_size=16
--lr=0.01
--epochs=10
--randaug_num_layers=2
--randaug_magnitude=2
--random_seed=42