--training_files=PATH_TO_BE_CONFIGURED/caltech_train.record-?????-of-00068
--num_training_instances=40606
--validation_files=PATH_TO_BE_CONFIGURED/caltech_val_dev.record-?????-of-00012
--num_validation_instances=6701
--num_classes=2
--model_name=mobilenetv2
--input_size=320
--input_scale_tf_mode
--batch_size=64
--lr=0.01
--epochs=10
--randaug_num_layers=2
--randaug_magnitude=2
--random_seed=42