--training_files=PATH_TO_BE_CONFIGURED/serengeti_train.record-?????-of-00173
--num_training_instances=103362
--validation_files=PATH_TO_BE_CONFIGURED/serengeti_val_dev.record-?????-of-00021
--num_validation_instances=12082
--num_classes=2
--model_name=mobilenetv2_a0.50
--input_size=320
--input_scale_mode=tf_mode
--batch_size=64
--lr=0.01
--epochs=10
--randaug_num_layers=2
--randaug_magnitude=2
--random_seed=42