--training_files=PATH_TO_BE_CONFIGURED/serengeti_time_train.record-?????-of-00147
--num_training_instances=88191
--validation_files=PATH_TO_BE_CONFIGURED/serengeti_time_val_dev.record-?????-of-00064
--num_validation_instances=37914
--num_classes=2
--model_name=mobilenetv2_a0.75
--input_size=320
--input_scale_mode=tf_mode
--batch_size=64
--lr=0.01
--epochs=10
--randaug_num_layers=2
--randaug_magnitude=2
--random_seed=42